@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');

/* font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; */

body{font:13px 'Raleway', sans-serif;;background:url(../images/overlay.png) #e8e9e9;}

/* We like off-black for text. */
body,select,input,textarea{color:#333;}

a{color:#565659;text-decoration:none;}
a:hover{color:#5FC0C3;}

/* Custom text-selection colors */
::selection{background:#5FC0C3;color:#FFF;}

/*	j.mp/webkit-tap-highlight-color */
a:link{-webkit-tap-highlight-color:#fcd700;}
ins{background-color:#fcd700;color:#000;text-decoration:none;}
mark{background-color:#fcd700;color:#000;font-style:italic;font-weight:bold;}

/* Mozilla dosen't style placeholders by default */
input:-moz-placeholder{color:#a9a9a9;}
textarea:-moz-placeholder{color:#a9a9a9;}

/* let's give blockquotes *some* default styling, because unstyled blockquotes are dangerous */
blockquote{padding:16px;background:#eee;}

main{background:#FFF;}

main > header{padding:3em 0;width:95%;margin:0 auto;font-family: 'Oswald', sans-serif;}

main > header > h1 {display: inline;}
main > header > h1 img {}
main > header > ul {margin:0;padding:0;float:right;font-family: 'Raleway', sans-serif;}
main > header > ul li {display:inline-block;text-transform:uppercase;color:#565659;padding:1em;font-size:1.2em;font-weight:bold;}
main > header > ul li a.joinus{border:1px solid #23baed; border-radius:2px; color:#5FC0C3; padding:.6em 1.7em ;}
main > header > ul li a.joinus:hover{color:#FFF;background:#23BAED;transition:.5s background;}